.issue {
  padding: 0.4rem 0.8rem;
  margin: 0.2rem 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.issue:hover {
  background: #a2f173;
}

.issue.expanded {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  background: #efefef;
  margin: 2rem 0 0.2rem;
}

.issue-link {
  margin: 0;
  margin-right: 0.8rem;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}
.issue-link:hover {
  text-decoration: underline;
}

.issue-title-labels-comments {
  display: flex;
  padding: 0.4rem 0;
}
.issue-title-labels-comments .title-labels {
  flex-grow: 1;
}
.issue-meta {
  padding: 0.4rem 0;
  font-size: 1.4rem;
}
.issue-meta a {
  text-decoration: none;
}
.issue-meta a:hover {
  text-decoration: underline;
}

.label {
  border-radius: 1rem;
  border-width: 0.2rem;
  border-style: solid;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.2rem;
  padding: 0 0.4rem;
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
}

.issueBody {
  margin: 0.8rem;
  border: 0.1rem solid #cacaca;
  padding: 0.8rem;
  background: #e2e2e2;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
