.repositories {
  padding: 2rem;
  background: #0c0;
  border-radius: 0.8rem;
  margin: 0.8rem 2rem;
}

.repository {
  border: 1px dashed #0a0;
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
  background: #0d0;
  margin: 0.2rem 0;
  display: flex;
  align-items: center;
}
.repository.chosen {
  background: #008800;
  color: #fff;
}

.repository:hover {
  background: #a2f173;
}
.repository.chosen:hover {
  color: #333;
}

.repositories.chosen {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  background: #efefef;
  margin: 0 0.8rem 0.8rem;
}

.repositories.chosen h2 {
  margin-bottom: 0;
}

.repositories.chosen > div {
  margin: 0 0.4rem;
}

.repositories.chosen .repository {
  background: #dadada;
  border: 0;
}

.repository-link {
  margin: 0 0.8rem;
  display: inline-block;
  vertical-align: middle;
}

.isFork {
  font-size: 1.4rem;
  color: #080;
}
.repository.chosen .isFork {
  color: #ccc;
}
.repository.chosen:hover .isFork {
  color: #333;
}
