$green1: #003300;
$red1: #ff0102;
$wool1: #f2e9d1;
$wool2: #dbd3be;
$dark1: #010;

$font-regular: 'Open Sans', sans-serif;
$font-regular-weight-light: 300;
$font-regular-weight-normal: 400;
$font-regular-weight-bold: 700;
$font-alt: 'Montserrat Alternates', sans-serif;
$font-alt-weight-normal: 400;
$font-alt-weight-bold: 600;